{:paths
 ["src" "resources"],

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"},

  ;; http
  ring/ring-core {:mvn/version "1.12.1"},
  ring/ring-jetty-adapter {:mvn/version "1.12.1"},
  ring/ring-codec {:mvn/version "1.2.0"},
  compojure/compojure {:mvn/version "1.7.1"},

  ;; html
  hiccup/hiccup {:mvn/version "2.0.0-RC3"},

  ;; XSLX
  commons-io/commons-io {:mvn/version "2.17.0"},
  org.apache.poi/poi {:mvn/version "5.3.0"},
  org.apache.poi/poi-ooxml {:mvn/version "5.3.0"}}

 :aliases
 {;; Clojure.main execution of application
  :run/service
  {:main-opts ["-m" "clj-writing-macros.core"]}

  ;; Add libraries and paths to support additional test tools
  :test/env
  {}

  ;; Test runner - local and CI
  ;; call with :watch? true to start file watcher and re-run tests on saved changes
  :test/run
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.85.1342"}}
   :main-opts   ["-m" "kaocha.runner"]
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:randomize? false
                 :fail-fast? true}}

  :test/watch
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.85.1342"}}
   :main-opts   ["-m" "kaocha.runner"]
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:randomize? false
                 :watch? true
                 :fail-fast? true}}

  ;; Basic REPL UI with nREPL server for Clojure Editor support
  :repl/basic
  {:extra-deps {nrepl/nrepl       {:mvn/version "1.3.0"}
                cider/cider-nrepl {:mvn/version "0.50.2"}}
   :main-opts  ["--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"]}


  ;; Headless REPL with nREPL server for Clojure Editor support
  :repl/headless
  {:extra-deps {nrepl/nrepl       {:mvn/version "1.3.0"}
                cider/cider-nrepl {:mvn/version "0.50.2"}}
   :main-opts  ["--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"]}}}
